<% c++ #include "content.h" %>
<% skin %>
<% view master uses content::master %>

<% template title() %><% gt "Welcome to the Message Board"  %><% end template %>

<% template header() %>
<title><% include title() %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<% media %>/style.css" rel="stylesheet" type="text/css" />
<link href="<% media %>/style-<% if rtl %>rtl<% else %>ltr<%end%>.css" rel="stylesheet" type="text/css" />
<% end template %>

<% template render() %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<% include header() %>
</head>
<body>
	<div id="page">
		<div id="links">
			<% include links() %>
		</div>
		<div id="body">
			<h1><% include title() %></h1>
			<% include body() %>
		</div>
	</div>
</body>
</html>
<% end template %>

<% template body() %><% end %>
<% template links() %>
<p><a href="<% main_page %>"><% gt "Home" %></a></p>
<% end %>
<% end view %>
<% end skin %>

