<% skin %>

<% view base_thread uses content::base_thread  extends master %>

<% template msg_header(content::msg &m) %>
	<% m.author %>, <a href="<% m.reply_url %>"><% gt "reply" %></a>
<% end %>

<% template msg_cnt(content::msg  &m) %>
<p><% m.content | ext text2html %></p>
<% end %>

<% template msg(content::msg &m) %>
<dt><% include msg_header(m) %></dt>
<dd><% include msg_cnt(m) %></dd>
<% end %>

<% template title() %><% gt "Disussion: {1}" using title %><% end template %>

<% template links() %>
<% include master::links() %>
	<p>
		<a href="<% flat_view %>"><% gt "Flat View"%></a>
		| <a href="<% tree_view %>"><% gt "Tree View" %></a>
	</p>
<% end %>

<% end view %>


<% view flat_thread uses content::flat_thread  extends base_thread %>

<% template body() %>
	<% foreach message in messages %>
		<dl>
		<% item %><% include msg(message) %><% end %>
		</dl>
	<% empty %>
		<h2><% gt "There are no comments." %></h2>
	<% end %>
<% end template %>

<% end view %>


<% view tree_thread uses content::tree_thread  extends base_thread %>

<% template display(content::tree_t &tree) %>
	<% foreach message in tree %>
		<dl>
		<% item %>
			<dt><% include msg_header(message.second) %></dt>
			<dd>
				<% include msg_cnt(message.second) %>
				<% include display(message.second.repl) %>
			</dd>
		<% end %>
		</dl>
	<% end %>
<% end template %>

<% template body() %>
	<% if empty messages %>
		<h2><% gt "There are no comments." %></h2>
	<% else %>
		<% include display(messages) %>
	<% end %>
<% end template %>

<% end view %>


<% view reply uses content::reply extends master %>

<% template title() %><% gt "Comment to thread: {1}" using title %><% end %>

<% template links() %>
	<% include master::links() %>
	<p><a href="<% back %>"><% gt "Back to thread" %></a></p>
<% end %>

<% template body() %>
	<% if not empty content %>
		<dl>
			<dt><% author %></dt>
			<dd><% content | ext text2html %></dd>
		</dl>
	<% end %>
	<form action="" method="post" >
	<table>
		<% form as_table form.author %>
		<tr>
			<th>
			<% form.comment.message() %>: 
			<% if form.comment.valid() %>
				<% form.comment.error_message() %>
			<% end %>
			</th>
			<td>
			<% form begin form.comment %> rows="24" cols="80" <% form end form.comment %> 
			</td>
		</tr>
		<% form as_table form.send %>
	</table>
	</form>
<% end template %>

<% end view %>

<% end skin %>

