<% skin myskin %>
<% view intro uses content::master extends master %>
<% template page_content() %>
<p><a href='<% url "/page" %>'>The Page</a></p>
<p><a href='<% url "/news" %>'>The News</a></p>
<% end template %> 
<% end view %>
<% end skin %>
