<% skin myskin %>
<% view news uses content::news extends master %>
<% template title() %><% include master::title() %> :: News<% end %>
<% template page_content() %>
<% foreach message in news_list %>
    <ul>
    <% item %>
        <li><%= message %></li>
    <% end %>
    </ul>
<% end foreach %>
<% end template %> 
<% end view %>
<% end skin %>
