<% c++ #include "hello_world_view.h" %>
<% namespace vary %>
	<% class master uses view::master %>
	<% template test(std::string &v,int p) %>
	<% foreach c in v %>
		<% item %><% c %><% end %>
	<% end %>
	<% end %>
	<% template render() %>
		<html>
		<title>Skin1 :: <% title %></title>
		<body>
		<% include body() %>
		</body>
		</html>
	<% end template %>
	<% template body() %>
	<% end template %>
	<% end class %>
<% end namespace %>

