<% namespace vary %>
	<% class hello uses view::hello extends master %>
	<% template body() %>
	<form action="" method="post">
	<table>
	<% c++ cout<< content.form.render(base_form::as_table); %>
	</table>
	<input type="submit" value="Submit" />
	</form>
	<% if rtl %><% end %>
		<% if not empty title %><h1><% title %></h1><% end %>
		<p><% msg %></p>
		<% if not empty username %>
		<p> The form was: nik=<% username %>, name=<% realname %>, Ok is <% if not ok%>not<% end %> checked,
			password=<% password %></p>
		<% end %>
		<% foreach x in numbers %>
			<ul>
			<% item %>
			<li><% ngt "passed one day","passed %d days",x using x %></li>
			<% end %>
			</ul>
		<% end %>
	<% end template %>
	<% end class %>
<% end namespace %>
