<% c++ #include "tests/tc_test_content.h" %>
<% skin tc_skin %>
<% view test_default_master uses data::master %>
<% template render() %>c<% end template %>
<% end view %>
<% view view_y uses data::master %>
<% template render() %>view y<% end template %>
<% end view %>
<% view view_x uses data::master %>
<% template render() %>view x<% end template %>
<% end view %>
<% view master uses data::master %>
<% template render() %>
TBD
<% end template %>
<% end view %>

<% view master_tmpl uses data::master %>
<% template a() %>A<% end %>
<% template b(int x) %>x=<%= x %><% end %>
<% template c(int x,std::string const &y) %>x=<%=x%> y=<%=y%><% end %>
<% template d(int x,int y) %>x=<%= x %> r=<%= y %><% end %>
<% template render() %>
<% include a() %>
<% include b(10) %>
<% include b(integer) %>
<% include c(10,"test") %>
<% include c(integer,text) %>
<% end template %>
<% end view %>
<% view foreach_tmpl uses data::master %>
<% template auto_test() %>
<% c++ #ifdef __GNUC__ %>
<% foreach x in integers %><% item %><%= x %><% end %><%end%>
<% foreach x reverse in integers %><% item %><%= x %><% end %><%end%>
<% c++ #endif %>
<% end template %>
<% template render() %><% c++ typedef data::master::integers_type::iterator it; typedef data::master::integers_type::reverse_iterator rit;  %>
<% foreach x as it in integers %>{<% separator %>,<% item %><%= x %><% end %>}<%empty%>-<% end %>
<% foreach x as rit reverse in integers %>{<% separator %>,<% item %><%= x %><% end %>}<%empty%>-<% end %>
<% foreach x as it rowid y in integers %>{<% separator %>,<% item %><%= x %> <%= y %><% end %>}<%empty%>-<% end %>
<% foreach x as rit rowid y reverse in integers %>{<% separator %>,<% item %><%= x %> <%= y %><% end %>}<%empty%>-<% end %>
<% foreach x as it rowid y from 1 in integers %>{<% separator %>,<% item %><%= x %> <%= y %><% end %>}<%empty%>-<% end %>
<% foreach x as rit rowid y from 1 reverse in integers %>{<% separator %>,<% item %><%= x %> <%= y %><% end %>}<%empty%>-<% end %>

<% foreach x as it in integers %>{<% item %> <%= x %><% end %>}<%empty%>-<% end %>
<% foreach x as rit reverse in integers %>{<% item %> <%= x %><% end %>}<%empty%>-<% end %>
<% foreach x as it rowid y in integers %>{<% item %> <%= x %> <%= y %><% end %>}<%empty%>-<% end %>
<% foreach x as rit rowid y reverse in integers %>{<% item %> <%= x %> <%= y %><% end %>}<%empty%>-<% end %>
<% foreach x as it rowid y from 1 in integers %>{<% item %> <%= x %> <%= y %><% end %>}<%empty%>-<% end %>
<% foreach x as rit rowid y from 1 reverse in integers %>{<% item %> <%= x %> <%= y %><% end %>}<%empty%>-<% end %>

<% foreach x as it in integers %>{<% separator %>,<% item %><%= x %><% end %>}<% end %>
<% foreach x as rit reverse in integers %>{<% separator %>,<% item %><%= x %><% end %>}<% end %>
<% foreach x as it rowid y in integers %>{<% separator %>,<% item %><%= x %> <%= y %><% end %>}<% end %>
<% foreach x as rit rowid y reverse in integers %>{<% separator %>,<% item %><%= x %> <%= y %><% end %>}<% end %>
<% foreach x as it rowid y from 1 in integers %>{<% separator %>,<% item %><%= x %> <%= y %><% end %>}<% end %>
<% foreach x as rit rowid y from 1 reverse in integers %>{<% separator %>,<% item %><%= x %> <%= y %><% end %>}<% end %>

<% foreach x as it in integers %>{<% item %> <%= x %><% end %>}<% end %>
<% foreach x as rit reverse in integers %>{<% item %> <%= x %><% end %>}<% end %>
<% foreach x as it rowid y in integers %>{<% item %> <%= x %> <%= y %><% end %>}<% end %>
<% foreach x as rit rowid y reverse in integers %>{<% item %> <%= x %> <%= y %><% end %>}<% end %>
<% foreach x as it rowid y from 1 in integers %>{<% item %> <%= x %> <%= y %><% end %>}<% end %>
<% foreach x as rit rowid y from 1 reverse in integers %>{<% item %> <%= x %> <%= y %><% end %>}<% end %>
<% end %>
<% end view %>
<% view master_if uses data::master %>
<% template render() %>
<% if integer %>integer<%else%>!integer<% end %>
<% if not integer %>!integer<%else%>!!integer<% end %>
<% if empty text %>text empty<% else %>text not empty<% end %>
<% if not empty text %>!text empty<% else %>!!text not empty<% end %>
<% if (true) %>true<%end%>
<% if (false) %>false<%end%>
<% if (false) %>false<% elif (true) %>true<%end%>
<% end template %>
<% end view %>

<% view master_url uses data::master %>
<% template render () %>
<% url "." %>
<% url "." using integer %>
<% url "." using integer,text %>
<% url "/" using integer %>
<% url "/" using integer,text %>
<% url "/" using integer,text | raw %>
<% url "/foo" %>
<% end %>
<% end view %>

<% end skin %>
