<% c++ #include "content.h" %>
<% skin view %>
<% view message uses content::message %>
<% template render() %>
<html>
    <body>
    <% if not empty name %>
	    <h1>Hello <% name %></h1>
	    <p>You are <% sex %>, <% state %></p>
	    <p>Your age is <% age %></p>
    <% else %>
    	<h1>Input your details</h1>
    <% end %>
    <form method="post" action="" >
    <% form as_p info %>
    </form>
  </body>
<html>
<% end template %>
<% end view %>
<% end skin %>
