<% if def username %>
	<h1>Wellcome <% username %> to forum</h1>
<% else %>
	<h1>Wellcome visitor to forum</h1>
<% end %>
	<a href="/site/newpost">New Post</a><br>
	<a href="/site/logout">Logout</a><br>
<% call get_message %>
<% if new_message %>
	<dl>
		<% repeat %>
			<dt>Message <% message_id %>, by <% author %></dt>
			<dd>
			<% message_body%>
			</dd>
			<% call get_message %>
		<% until not new_message %>
	</dl>
<% else %>
	<h2>No messages on the forum</h2>
<% end %>
